@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root {
  --active: #E5E5E5;
  --inactive: #8A8591;
  --accent: #47F158;
  --background: #271E37;
  --navcolor: #190D2C;
}